<!DOCTYPE html>
<html lang="en">
<head>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" rel="stylesheet">
    <link href="css/starter-template.css" rel="stylesheet">
</head>

<body class="find_charity">
<section class="search-sec">
    <div class="container wrapper">
        <form action="/findCharity" method="get" novalidate="novalidate" class="vertical-center">
            <div class="row">
                <h2 style="color: white">Find Charity Foundation in UK</h2>
                <div class="col-lg-12 mt-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" name="search" placeholder="Enter Charity Name">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="submit" class="btn btn-danger wrn-btn" value="Search"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
