<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html :: head"></head>
<body>
<div th:replace="fragments/navbar.html :: nav"></div>
<main class="container" role="main">
    <div class="card" style="margin-top: 60px; margin-bottom: 100px">
        <div class="card-body">
            <div class="row  mt-4">
                <div class="col-md">
                    <div id=paymentConfirmation>
                        <h3> Thank you for donating </h3>
                        <div th:text="${donorKey.name}"></div>
                    </div>
                </div>
                <div class="col-md">
                    <h3>
                        You are about to donate:
                    </h3>
                    <span th:text="'£'+ ${#numbers.formatDecimal(donorKey.donationAmount,1,2)}"></span>
                    <br>
                    <div>
                        to:
                        <div class="mt-4" id="charityDetails">
                            <span th:text="${charityKey.name}"></span>
                        </div>
                        <h3>Using card:</h3>
                        <div th:text="'**** **** ****'+${last4CardKey}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-violet btn-lg" onclick="window.location = '/confirm'" id="confirm">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer.html :: div.footer"></div>
</body>
</html>