<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" rel="stylesheet">
    <link href="css/starter-template.css" rel="stylesheet">
</head>

<body>


<main class="container mt-4" role="main">
    <div class="starter-template">

        <div class="row  mt-4">

            <div class="col-md">
                <div id=paymentConfirmation>

                    <h2>Thank you</h2>
                    <h3 th:text="${donorKey.firstName}"></h3>
                    <div th:text="${donorKey.lastName}"></div>

                </div>
            </div>
            <div class="col-md">
                <h3>
                    You are about to donate:
                </h3>
                <span th:text="'£'+ ${#numbers.formatDecimal(donorKey.donationAmount,1,2)}"></span>
                <div>
                    to:
                    <div class="mt-4" id="charityDetails">
                        <span th:text="${charityKey.name}"></span>
                    </div>

                    <h3>Using card:</h3>
                    <div th:text="'**** **** ****'+${last4CardKey}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <a class="btn btn-primary btn-lg" href="payment/confirm"
                   id="confirm"
                   role="button">
                    Confirm
                </a>
            </div>
        </div>

    </div>
</main>


</body>
</html>